.content {
  height: 100%;
  width: 100%;
}
.area {
  padding: 10px;
  background-color: #313131;
  border-radius: 10px;
  a {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.newLearn {
  display: flex;
  gap: 10px;
  align-items: center;
  svg {
    font-size: 20px;
  }
}
